In [1]:
import pandas as pd

items = [{'bikes': 20, 'pants': 30, 'watches': 35}, {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants': 5}]

store_items = pd.DataFrame(items, index = {'store 1', 'store 2'})

store_items

         bikes  pants  watches  glasses
store 1     20     30       35      NaN
store 2     15      5       10     50.0

In [2]:
store_items[['bikes', 'pants']]

         bikes  pants
store 1     20     30
store 2     15      5

In [3]:
store_items.loc[['store 1']]

         bikes  pants  watches  glasses
store 1     20     30       35      NaN

In [9]:
store_items['shirts'] = [15, 2]
store_items['suits'] = store_items['shirts'] + store_items['pants']
store_items

         bikes  pants  watches  glasses  shirts  suits
store 1     20     30       35      NaN      15     45
store 2     15      5       10     50.0       2      7

In [15]:
new_item = [{'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4}]
new_store = pd.DataFrame(new_item, index = ['store 3'])
store_items = store_items.append(new_store)
store_items

C:\Users\GOO2HI\AppData\Local\Temp\ipykernel_20704\756515898.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  store_items = store_items.append(new_store)

         bikes  pants  watches  glasses  shirts  suits
store 1     20     30       35      NaN    15.0   45.0
store 2     15      5       10     50.0     2.0    7.0
store 3     20     30       35      4.0     NaN    NaN

In [16]:
store_items.insert(5, 'shoes', [1,2,3])
store_items

         bikes  pants  watches  glasses  shirts  shoes  suits
store 1     20     30       35      NaN    15.0      1   45.0
store 2     15      5       10     50.0     2.0      2    7.0
store 3     20     30       35      4.0     NaN      3    NaN

In [18]:
store_items.drop('pants', axis=1)

         bikes  watches  glasses  shirts  shoes  suits
store 1     20       35      NaN    15.0      1   45.0
store 2     15       10     50.0     2.0      2    7.0
store 3     20       35      4.0     NaN      3    NaN

In [22]:
store_items.drop(['shoes', 'suits'], axis=1)

         bikes  pants  watches  glasses  shirts
store 1     20     30       35      NaN    15.0
store 2     15      5       10     50.0     2.0
store 3     20     30       35      4.0     NaN

In [23]:
store_items.drop(['store 1', 'store 2'], axis=0)

         bikes  pants  watches  glasses  shirts  shoes  suits
store 3     20     30       35      4.0     NaN      3    NaN