In [1]:
import pandas as pd

In [2]:
fruits = pd.Series([10, 6, 3], ['apples', 'oranges', 'bananas'])
fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [3]:
fruits * 2

apples     20
oranges    12
bananas     6
dtype: int64

In [4]:
fruits - 2

apples     8
oranges    4
bananas    1
dtype: int64

In [6]:
import numpy as np

np.sqrt(fruits)

apples     3.162278
oranges    2.449490
bananas    1.732051
dtype: float64

In [7]:
np.power(fruits, 2)

apples     100
oranges     36
bananas      9
dtype: int64

In [9]:
fruits.loc[['apples', 'oranges']]/2

apples     5.0
oranges    3.0
dtype: float64

In [10]:
fruits.iloc[[0,1]]/2

apples     5.0
oranges    3.0
dtype: float64