In [4]:
import pandas as pd

In [5]:
items = {'ebi': pd.Series([245, 25, 55], index = ['bike', 'pants', 'watch']), 
         'sara': pd.Series([40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'],
          'nima': pd.Series([60, 120, 503], index = ['book', 'glasses', 'bike']) }

In [6]:
shopping_bills = pd.DataFrame(items)
shopping_bills

           ebi   sara
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     25.0   45.0
watch     55.0    NaN